body {
  background-color: rgba(1, 1, 1, 1.0);
  background-image: url("http://i68.tinypic.com/4lsmt3.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
  background-size: 100% auto;
}

.background-color, nav {
  background-color: rgba(30, 30, 30, 1.0);
}

li.divider {
  background-color: rgba(255, 190, 5, 1.0);
  margin-bottom: 5px;
}

.color-main,
.dropdown-content li>a,
p,
span,
nav .brand-logo,
nav ul a {
  color: rgba(255, 190, 5, 1.0);
}

.color-secondary {
  color: rgba(70, 65, 55, 1.0);
}

.dropdown-content li>a {
  padding: 8px;
  margin-bottom: 2px;
  font-size: 1.3em;
}

.dropdown-content li {
  min-height: 25px;
  min-width: 185px;
}

.border {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(255, 190, 5, 0.1);
  padding: 5%;
}

.background {
  margin-top: 5%;
  margin-bottom: 5%;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

section ul > li {
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
}

.collapsible-header {
  background-color: rgba(30, 30, 30, 1.0);
  border-bottom: 1px solid rgba(255, 190, 5, 0.0);
}

.collapsible-body {
  border-bottom: 1px solid rgba(255, 190, 5, 0.0);
  padding: 2rem;
}

.select:hover {
  border-style: solid;
  border-color: rgba(255, 190, 5, 1);
  border-radius: 20px;
  overflow: hidden;
}

/*.btn:hover, nav ul a:hover, .dropdown-content li:hover{
  background-color: rgba(0, 170, 245, 1.0);
  color: rgba(255, 255, 255, 1.0);

}*/

.btn {
  background-color: rgba(255, 190, 5, 1.0);
  font-size: 0.7em;
  padding-left: 5px;
  padding-right: 5px;
  height: 1%;
  color: rgba(5, 5, 5, 1.0);
  min-width: 100px;
}


.btn-select {
  background-color: rgba(30, 30, 30, 1.0);
  color: rgba(255, 190, 5, 1.0);
}

.margin {
  margin-left: 3px;
  margin-right: 3px;
}

.dropdown-content {
  background-color: black;
  font-size: 0.7em;
}

.btn:hover, nav ul a:hover, .dropdown-content li:hover {
  background-color: rgba(70, 65, 55, 1.0);
  color: rgba(255, 190, 5, 1.0);
}

.brand-logo {
  margin-left: 20px;
  margin-right: 20px;
}
