<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="http://oi68.tinypic.com/2u8apme.jpg">
      <div class="caption center-align background-shadow">
        <h3>Full Stack Developer</h3>
        <h5 class="light text-lighten-3">Javascript, Angular, Ruby, Node JS</h5>
      </div>
    </li>
    <li>
      <img src="http://orig05.deviantart.net/0b1c/f/2014/083/7/e/zone_orion_6_small_by_delphadesign-d7bfxic.jpg">
      <div class="caption left-align background-shadow">
        <h3 class="margin-huge">Indie Game Developer</h3>
        <h5 class="margin-huge light text-lighten-3">Games for PC, Linux, & Mobile</h5>
      </div>
    </li>
    <li>
      <img src="http://other00.deviantart.net/4f3b/o/2010/353/1/5/1525c57900f4fd2ba1ef14a82841dbd3.jpg"> <!-- random image -->
      <div class="caption right-align background-shadow">
        <h3 class="margin-huge">3D Modeling / Animation</h3>
        <h5 class="margin-huge light text-lighten-3">High & low poly Characters, vehicles, and enviroments</h5>
      </div>
    </li>
  </ul>
  <script src="scripts/view-scripts.js"></script>
</div>

