<div class="row">
  <a class="col s1 waves-effect waves-light btn" ng-click="kind = ''">All</a>
  <a class="col s1 waves-effect waves-light btn" ng-click="kind = 'web'">WEB</a>
  <a class="col s1 waves-effect waves-light btn" ng-click="kind = 'mobile'">Mobile</a>
  <a class="col s2 waves-effect waves-light btn" ng-click="kind = 'desktop'">Desktop Games</a>
  <a class="col s3 waves-effect waves-light btn" ng-click="kind = 'Krazy Keet Games'">Krazy Keet Games</a>
  <a class="col s3 waves-effect waves-light btn" ng-click="kind = 'Titanomachy Studios'">Titanomachy Studios</a>
  <a class="col s1 waves-effect waves-light btn" ng-click="kind = 'arts'">ART</a>
</div>

<section class="project-list">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="item in vm.dataList | filter: kind | orderBy: '-priority'" class="add-space">
    <div class="collapsible-header row">
      <img class="col s12" ng-src="{{item.logoSrc}}" alt="{{item.name}}" height="350" width="600">
    </div>
    <div class="collapsible-body">
      <div class="block">
      <h4 class="color-main">{{item.name}}</h4>
        <div class="row">
          <span class="color-main col s1">{{item.version}}</span>
          <span class="color-main col s6" ng-show="item.studio">STUDIO: {{item.studio}}</span>
          <!-- <span class="color-main col s2" ng-show="item.platforms">Platforms: {{item.platforms}}</span> -->
          <a class="waves-effect waves-light btn  col s2" ng-show="item.gitHub" ng-href="{{item.gitHub}}">Source Code</a>
          <a class="waves-effect waves-light btn  col s2" ng-show="item.download" ng-href="{{item.download}}">Download</a>
          <a class="waves-effect waves-light btn  col s2" ng-show="item.android" ng-ref="{{item.android}}">Google Play</a>
          <a class="waves-effect waves-light btn  col s2" ng-show="item.itunes" ng-href="{{item.itunes}}">iTunes</a>
          <a class="waves-effect waves-light btn  col s2 " ng-show="item.url" ng-href="{{item.url}}">Visit Site</a>
        </div>
      </div>
      <p class="color-main block">{{item.description}}</p>
      <ul class="row" ng-show="item.media">
        <li>
          <img class="col s6" ng-show="item.media[0]" ng-src="{{item.media[0]}}" alt="{{item.name}} screenshot 1" height="200" width="320">
        </li>
        <li>
          <img class="col s6" ng-show="item.media[1]" ng-src="{{item.media[1]}}" alt="{{item.name}} screenshot 2" height="200" width="320">
        </li>
      </ul>
      <script>
        $(document).ready(function(){
          $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
          });
        });
      </script>
    </div>
    <!-- </a> -->
    </li>
  </ul>
</section>
