<div class="row">
  <form class="col s4 left waves-effect waves-light">
    <input placeholder="Search" class="validate" ng-model="vm.kind" type="text" id="search">
  </form>
  <a class='dropdown-button btn col s3 right' href='' data-activates='dropdown1'>Filter: {{vm.kind}}</a>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a class="color-main waves-effect waves-light" ng-click="vm.kind = ''">All</a></li>
    <li class="divider"></li>
    <li><a class="color-main waves-effect waves-light" ng-click="vm.kind = 'web'">WEB</a></li>
    <li><a class="color-main waves-effect waves-light" ng-click="vm.kind = 'mobile'">Mobile</a></li>
    <li><a class="color-main waves-effect waves-light" ng-click="vm.kind = 'desktop'">Desktop Games</a></li>
    <li class="divider"></li>
    <li><a class="color-main waves-effect waves-light" ng-click="vm.kind = 'Krazy Keet Games'">Krazy Keet Games</a></li>
    <li><a class="color-main waves-effect waves-light" ng-click="vm.kind = 'Titanomachy Studios'">Titanomachy Studios</a></li>
    <li class="divider"></li>
    <li><a class="color-main waves-effect waves-light" ng-click="vm.kind = 'arts'">ART</a></li>
  </ul>
</div>

<section class="project-list z-depth-5">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="item in vm.dataList | filter: vm.kind | orderBy: '-priority'" class="add-space">
    <div class="collapsible-header row select waves-effect waves-light">
      <img class="col s12 z-depth-2" ng-src="{{item.logoSrc}}" alt="{{item.name}}" height="350" width="600">
    </div>
    <div class="collapsible-body">
      <div class="row">
        <h4 class="col s12 color-main">{{item.name}}</h4>
      </div>
      <div class="row">
        <div class="col s6">
          <span ng-show="item.version" class="color-main margin">v# {{item.version}}</span>
          <span class="color-main margin" ng-show="item.studio">{{item.studio}}</span>
          <!-- <span class="color-main col s2" ng-show="item.platforms">Platforms: {{item.platforms}}</span> -->
        </div>
        <div class="col s6">
          <a target="_blank" class="waves-effect waves-light btn right margin" ng-show="item.gitHub" ng-href="{{item.gitHub}}">Source Code</a>
          <a target="_blank" class="waves-effect waves-light btn right margin" ng-show="item.download" ng-href="{{item.download}}">Download</a>
          <a target="_blank" class="waves-effect waves-light btn right margin" ng-show="item.android" ng-ref="{{item.android}}">Google Play</a>
          <a target="_blank" class="waves-effect waves-light btn right margin" ng-show="item.itunes" ng-href="{{item.itunes}}">iTunes</a>
          <a target="_blank" class="waves-effect waves-light btn right margin" ng-show="item.url" ng-href="{{item.url}}">Visit Site</a>
        </div>
      </div>
      <div class="row">
        <p class="col s12 color-main">{{item.description}}</p>
      </div>
      <ul class="row" ng-show="item.media">
        <a ng-show="item.media[0]" class="modal-trigger col s6" data-target="modal1{{$index}}">
          <li class="waves-effect waves-light select">
            <img ng-src="{{item.media[0]}}" alt="{{item.name}} screenshot 1" height="200" width="320">
          </li>
        </a>
        <a ng-show="item.media[1]" class="modal-trigger col s6 right" data-target="modal2{{$index}}">
          <li class="waves-effect waves-light select">
            <img ng-show="item.media[1]" ng-src="{{item.media[1]}}" alt="{{item.name}} screenshot 2" height="200" width="320">
          </li>
        </a>

        <div id="modal1{{$index}}" class="modal modal-fixed-footer">
          <div class="modal-content">
            <img ng-src="{{item.media[0]}}" alt="{{item.name}} screenshot 1" height="98%" width="100%">
          </div>
          <div class="modal-footer">
            <span class="left">{{item.name}} Screenshot 1</span>
            <a class="modal-action modal-close waves-effect waves-light btn">Close</a>
          </div>
        </div>

        <div id="modal2{{$index}}" class="modal modal-fixed-footer">
          <div class="modal-content">
            <img ng-src="{{item.media[1]}}" alt="{{item.name}} screenshot 2" height="98%" width="100%">
          </div>
          <div class="modal-footer">
            <span class="left">{{item.name}} Screenshot 2</span>
            <a class="modal-action modal-close waves-effect waves-light btn">Close</a>
          </div>
        </div>
      </ul>
    </div>
    </li>
  </ul>
  <script src="scripts/view-scripts.js"></script>
</section>
